.about-company {
  position: relative;
}

.about-company::before {
  content: "";
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  top: -360px;
  left: -185px;
  width: 740px;
  height: 860px;
  background-image: url("../img/stack.svg#icon-2");

  @media (max-width: $tablet-width-only) {
    content: none;
  }
}

.about-company__wrapper {
  padding-top: 35px;
  padding-left: 307px;
  position: relative;
  padding-bottom: 111px;

  @media (max-width: $tablet-width-only) {
    padding-left: 187px;
    padding-top: 20px;
    padding-bottom: 84px;
  }

  @media (max-width: $mobile-width-only) {
    padding-left: 5px;
    padding-top: 17px;
    padding-bottom: 60px;
  }
}

.about-company__wrapper::before {
  content: "";
  position: absolute;
  display: block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  top: 35px;
  left: 45px;
  width: 317px;
  height: 320px;
  background-image: url("../img/2005-logo@1x.png");

  @supports (background-image: url("../img/2005-logo@1x.webp")) {
    background-image: url("../img/2005-logo@1x.webp");
  }

  @media (max-width: $desktop-width) {
    left: -40px;
    top: 18px;
    width: 260px;
    height: 360px;
  }

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.about-company__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $text-color;
  margin: 0;
  margin-bottom: 18px;

  @media (max-width: $tablet-width-only) {
    font-size: 32px;
    line-height: 140.62%;
    margin-bottom: 25px;
  }

  @media (max-width: $mobile-width-only) {
    font-size: 28px;
    line-height: 140.62%;
    margin-bottom: 10px;
  }
}

.about-company__description {
  max-width: 51vw;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $text-color;

  @media (max-width: $tablet-width-only) {
    max-width: max-content;
    max-height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media (max-width: $mobile-width-only) {
    max-height: 170px;
    margin-top: 18px;
    margin-bottom: 40px;
  }
}

.about-company__description:not(:first-child) {
  margin-top: 20px;
}

.about-company__link {
  margin-top: 40px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $basic-blue;
  text-decoration: none;
  padding: 12px;
  border: 1px solid $basic-blue;
  box-sizing: border-box;
  border-radius: 5px;
  display: block;
  width: 180px;

  @media (max-width: $mobile-width-only) {
    margin-top: 35px;
  }

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}
