.about-company {
  padding-top: 55px;
  padding-left: 317px;
  position: relative;
  padding-bottom: 96px;
}

.about-company::before {
  content: "";
  position: absolute;
  display: block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  top: 45px;
  left: 45px;
  width: 317px;
  height: 320px;
  background-image: url("../img/2005-logo.png");
}

.about-company__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $text-color;
  margin: 0;
  margin-bottom: 18px;
}

.about-company__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $text-color;
}

.about-company__link {
  margin-top: 38px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $basic-blue;
  text-decoration: none;
  padding: 12px;
  border: 1px solid $basic-blue;
  box-sizing: border-box;
  border-radius: 5px;
  display: block;
  width: 180px;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}
