.advantage {
  position: relative;
  padding-top: 93px;
  padding-bottom: 55px;
  background-color: $basic-white;

  @media (max-width: $tablet-width-only) {
    padding-top: 36px;
    padding-bottom: 24px;
  }
}

.advantage::before {
  content: "";
  display: block;
  position: absolute;
  top: 49%;
  left: 50%;
  width: 736px;
  height: 736px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/stack.svg#icon-2");
  transform: translate(-50%, -25%) rotate(180deg);
  z-index: 1;

  @media (max-width: $tablet-width-only) {
    top: 48%;
    left: 78%;
    width: 700px;
    height: 830px;
  }

  @media (max-width: $mobile-width-only) {
    top: 73%;
    left: 80%;
  }
}

.advantage::after {
  content: "";
  display: block;
  position: absolute;
  top: 57%;
  right: 0;
  width: 270px;
  height: 260px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../img/stack.svg#icon-1");
  transform: rotate(180deg);

  @media (max-width: $tablet-width-only) {
    content: none;
  }
}

.advantage__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 30px;
  padding-left: 120px;
  position: relative;

  @media (max-width: $tablet-width-only) {
    padding-left: 0;
    row-gap: 30px;
  }

  @media (max-width: $mobile-width-only) {
    display: flex;
    row-gap: 23px;
  }
}

.advantage__item {
  padding: 98px 43px 65px 45px;
  width: 570px;
  box-sizing: border-box;
  min-height: 299px;
  border: 1px solid $svg-elements-color;
  border-left: 3px solid $basic-blue;
  position: relative;
  background-color: $basic-white;
  z-index: 5;

  @media (max-width: 1486px) {
    width: 100%;
  }

  @media (max-width: $tablet-width-only) {
    padding: 70px 18px 13px 26px;
    min-height: 232px;
    width: 100%;
    box-sizing: border-box;
  }

  @media (max-width: $mobile-width-only) {
    padding-right: 30px;
    padding-left: 28px;
    padding-bottom: 22px;
    width: 100%;
    box-sizing: border-box;
  }
}

.advantage__list::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 260px;
  top: -70px;
  left: -83px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../img/stack.svg#icon-1");
  z-index: 0;

  @media (max-width: $tablet-width-only) {
    content: none;
  }
}

.advantage__item::before {
  content: "";
  position: absolute;
  display: block;
  background-color: $basic-blue;
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: 50% 50%;
  top: 45px;
  left: 45px;

  @media (max-width: $tablet-width-only) {
    top: 25px;
    left: 22px;
  }
}

.advantage__item--stopwatch::before {
  width: 29px;
  height: 35px;
  mask-image: url("../img/stack.svg#stopwatch");
}

.advantage__item--hired::before {
  width: 35px;
  height: 35px;
  mask-image: url("../img/stack.svg#hired");
}

.advantage__item--detective::before {
  width: 36px;
  height: 31px;
  mask-image: url("../img/stack.svg#detective");
}

.advantage__item--tag::before {
  width: 35px;
  height: 35px;
  mask-image: url("../img/stack.svg#tag");
}

.advantage__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $basic-blue;
  margin-bottom: 15px;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 10px;
  }

  @media (max-width: $mobile-width-only) {
    font-size: 20px;
    line-height: 140%;
  }
}

.advantage__subtitle {
  margin: 0;
  width: 85%;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $text-color;

  @media (max-width: 1400px) {
    width: 85%;
  }

  @media (max-width: $tablet-width-only) {
    width: 290px;
  }

  @media (max-width: $mobile-width-only) {
    width: 78vw;
  }
}

.advantage__item:hover {
  background-color: $basic-blue;
  border-color: $basic-blue;

  &::before {
    background-color: $basic-white;
  }
}

.advantage__item:hover .advantage__title {
  color: $basic-white;
}

.advantage__item:hover .advantage__subtitle {
  color: $basic-white;
}
