.feedback {
  background-color: $basic-blue;
  position: relative;
}

.feedback::before {
  content: "";
  position: absolute;
  display: block;
  background-color: $basic-blue;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  top: 150px;
  left: 350px;
  width: 511px;
  height: 288px;
  background-image: url("../img/paper-airplane@1x.png");
  z-index: 1;

  @supports (background-image: url("../img/paper-airplane@1x.webp")) {
    background-image: url("../img/paper-airplane@1x.webp");
  }

  @media (max-width: ($tablet-width-only + 896px)) {
    display: none;
  }
}

.feedback form {
  padding-top: 96px;
  padding-left: 625px;
  padding-bottom: 113px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;

  @media (max-width: ($tablet-width-only + 896px)) {
    padding: 83px 66px 103px 66px;
  }

  @media (max-width: $mobile-width-only) {
    padding: 33px 0 41px 0;
  }
}

.feedback__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $basic-white;
  margin: 0;
  margin-bottom: 7px;
}

.feedback__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $basic-white;
  margin: 0;
  margin-bottom: 49px;

  @media (min-width: $tablet-width-only) {
    width: 100%;
  }
}

.feedback__input-wrapper {
  margin-bottom: 40px;
  box-sizing: border-box;
}

.feedback__input-wrapper--input {
  width: 47.5%;

  @media (max-width: $tablet-width-only) {
    width: 47%;
  }

  @media (max-width: $tablet-width-only) {
    width: 100%;
  }
}

.feedback__input-wrapper--textarea {
  width: 100%;
}

.feedback__input-wrapper textarea {
  display: block;
  width: 100%;
  flex-grow: 2;
  min-height: 154px;
}
