.footer {
  position: sticky;
  top: 100vh;
  padding-top: 66px;
  background-color: $basic-white;

  @media (max-width: $tablet-width-only) {
    padding-top: 20px;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 43px;
  }
}

.footer__wrapper {
  position: relative;
  display: flex;
  column-gap: 140px;
  flex-wrap: wrap;

  @media (max-width: 1920px) {
    justify-content: center;
    column-gap: 30px;
  }

  @media (max-width: $tablet-width-only) {
    column-gap: 20px;
  }

  @media (max-width: $mobile-width-only) {
    display: block;
  }
}

.footer__links {
  padding-right: 80px;
  width: min-content;

  @media (max-width: 1485px) {
    padding-right: 0;
  }

  @media (max-width: $tablet-width-only) {
    padding-right: 0;
    width: 100%;
  }

  @media (max-width: $mobile-width-only) {
    padding-bottom: 54px;
    border-bottom: 1px solid $border-color;
  }
}

.footer__title-wrapper {
  padding-left: 5px;

  @media (max-width: $mobile-width-only) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $promo-bg-color;
  margin-top: 0;
}

.footer__mobile-button {
  display: none;
  background-color: transparent;

  @media (max-width: $mobile-width-only) {
    display: block;
    border: none;
    position: relative;
    width: 22px;
    height: 28px;
  }
}

.footer__mobile-button::after {
  content: "";
  display: block;
  width: 16px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  left: 0;
}

.footer__mobile-button--show::after {
  top: 0;
  height: 16px;
  background-image: url("../img/stack.svg#show-more");
}

.footer__mobile-button--hide::after {
  top: 6px;
  transform: translateY(50%);
  height: 1px;
  background-image: url("../img/stack.svg#hide");
}

.footer__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: $promo-bg-color;
  opacity: 0.5;
}

.footer__text--social-info {
  position: absolute;
  bottom: -50px;
  left: 16%;
  text-transform: uppercase;
  width: max-content;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;

  @media (max-width: ($tablet-width-only + 896px)) {
    position: relative;
    left: 0;
    bottom: 0;
    margin-left: 32px;
  }

  @media (max-width: $mobile-width-only) {
    margin-left: 0;
  }
}
