.header {
  background-color: transparent;
  max-height: max-content;
  padding-bottom: 230px;

  @media (max-width: $tablet-width-only) {
    padding-bottom: 113px;
  }

  @media (max-width: $mobile-width-only) {
    padding-bottom: 0;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 33px;
  column-gap: 60px;
  align-items: flex-start;

  @media (max-width: $desktop-width) {
    padding-top: 24px;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 15px;
  }
}

.header__link-call {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $basic-white;
  text-decoration: none;
  padding: 12px;
  border: 1px solid $basic-white;
  box-sizing: border-box;
  border-radius: 5px;
  height: max-content;
  flex-shrink: 0;
  z-index: 10;

  min-width: 180px;
  margin-right: 7px;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.header__link--nav span {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
