.links {
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width-only) {
    flex-grow: 1;
    flex-direction: row;
    column-gap: 15px;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
  }
}
