.modal {
  padding: 33px 40px 36px 40px;
  background-color: $basic-blue;
  width: 490px;
  z-index: 5;
  top: 136px;
  left: 50%;
  transform: translateX(-50%);
}

.modal--close {
  display: none;
}

.modal--open {
  display: block;
  position: fixed;
}

.modal__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 140.62%;
  color: $basic-white;
}

.modal__input-wrapper {
  margin-bottom: 30px;
}

.modal__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $basic-white;
}
