.office {
  padding-left: 20px;
  padding-bottom: 17px;

  @media (max-width: $tablet-width-only) {
    padding-top: 40px;
    padding-right: 10px;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 29px;
    padding-bottom: 22px;
    padding-left: 0;
    padding-right: 0;
  }
}

.office__wrapper {
  @media (max-width: $mobile-width-only) {
    padding-left: 5px;
  }
}

.office__phone-link {
  display: block;
  text-decoration: none;
  width: max-content;

  &:hover {
    color: $basic-blue;
  }
}

.office__address {
  margin-top: 25px;
  margin-bottom: 0;

  @media (max-width: $mobile-width-only) {
    margin-top: 20px;
  }
}
