.page {
  height: 100%;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  scroll-behavior: smooth;
  overflow: hidden;
}

.page__body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: $basic-white;
  position: relative;
  overflow-x: hidden;
}

.page__container {
  width: 74vw;
  margin: 0 auto;

  @media (max-width: $desktop-width) {
    width: 93vw;
  }

  &--mobile-on {
    @media (min-width: $tablet-width) {
      display: contents;
    }
  }

  &--mobile-off {
    @media (max-width: $mobile-width-only) {
      display: contents;
    }
  }
}
