.page {
  height: 100%;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  scroll-behavior: smooth;
  overflow: hidden;
}

.page__body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  background-repeat: repeat-y;
  background-position: center;
  background-image: url("../img/promo-bg.png");
  background-size: cover;
  background-color: $promo-bg-color;
  scroll-behavior: smooth;
}

.page__container {
  width: 1415px;
  margin: 0 auto;

  @media (max-width: 1486px) {
    width: 93vw;
  }

  @media (max-width: $desktop-width) {
    width: 93vw;
  }

  &--mobile-on {
    @media (min-width: $tablet-width) {
      display: contents;
    }
  }

  &--mobile-off {
    @media (max-width: $mobile-width-only) {
      display: contents;
    }
  }

  &--desktop {
    @media (min-width: 1486px) {
      width: 1170px;
    }

    @media (min-width: $desktop-width) {
      width: 1170px;
    }
  }
}
