.promo {
  max-height: max-content;
  padding-bottom: 275px;

  @media (max-width: ($desktop-width + 206px)) {
    padding-bottom: 163px;
  }
}

.promo::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/promo-bg.png");
  background-size: cover;
  background-color: $promo-bg-color;
  min-height: 950px;
  z-index: -1;

  @media (max-width: ($desktop-width + 206px)) {
    min-height: 670px;
  }
}

.promo__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $basic-white;
  margin: 0;
  margin-bottom: 31px;

  @media (max-width: ($desktop-width + 206px)) {
    font-size: 60px;
    line-height: 70px;
    padding-left: 66px;
    max-width: 320px;
    margin-bottom: 32px;
  }
}

.promo__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: $basic-white;
  box-sizing: border-box;
  width: 777px;
  padding-left: 94px;
  margin-bottom: 37px;
}

.promo__link {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $basic-white;
  text-decoration: none;
  width: 407px;
  padding: 16px;
  box-sizing: border-box;
  border: 1px solid $basic-blue;
  background-color: $basic-blue;
  border-radius: 5px;
  display: block;
  margin-left: 94px;
}
