.promo {
  max-height: max-content;
  padding-bottom: 275px;

  @media (max-width: $tablet-width-only) {
    padding-bottom: 163px;
  }
}

.promo::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/promo-bg.png");
  background-size: cover;
  background-color: $promo-bg-color;
  min-height: 950px;
  z-index: -1;

  @media (max-width: $tablet-width-only) {
    min-height: 670px;
  }
}

.promo__img {
  position: absolute;
  width: 705px;
  height: 515px;
  top: 250px;
  right: 30px;
  z-index: 5;
  object-fit: contain;

  @media (max-width: ($tablet-width-only + 476px)) {
    top: 15vw;
    right: -15vw;
  }

  @media (max-width: ($tablet-width-only + 236px)) {
    top: 15vw;
    right: -26vw;
  }

  @media (max-width: ($tablet-width-only + 96px)) {
    top: 15vw;
    right: -10vw;
    width: 465px;
    height: 340px;
  }

  @media (max-width: ($tablet-width-only)) {
    top: 130px;
    right: -233px;
    width: 465px;
    height: 340px;
  }

  @media (max-width: ($mobile-width-only)) {
    top: 85px;
    right: 0;
    width: 301px;
    height: 220px;
  }
}

.promo__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $basic-white;
  margin: 0;
  margin-bottom: 31px;

  @media (max-width: $tablet-width-only) {
    font-size: 60px;
    line-height: 70px;
    padding-left: 66px;
    max-width: 320px;
    margin-bottom: 32px;
  }

  @media (max-width: $mobile-width-only) {
    padding-left: 0;
    font-size: 40px;
    line-height: 47px;
  }
}

.promo__title::before {
  content: "";
  position: absolute;
  right: 100px;
  top: 199px;
  width: 637px;
  height: 637px;
  background-color: $basic-white;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: url("../img/stack.svg#promo-svg");
  mask-size: cover;

  @media (max-width: $tablet-width-only) {
    right: -330px;
    top: 19px;
  }

  @media (max-width: $tablet-width-only) {
    right: -270px;
    top: 45px;
    width: 400px;
    height: 400px;
  }
}

.promo__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: $basic-white;
  box-sizing: border-box;
  width: 777px;
  padding-left: 94px;
  margin-bottom: 37px;
  position: relative;


  @media (max-width: $tablet-width-only) {
    font-size: 18px;
    line-height: 156.8%;
    width: 510px;
    margin-left: 50px;
    display: block;
  }

  @media (max-width: $mobile-width-only) {
    width: 93vw;
    margin-left: 0;
  }
}

.promo__subtitle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 66px;
  height: 2px;
  background-color: $basic-white;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: url("../img/stack.svg#hide");
  mask-size: cover;

  @media (max-width: $tablet-width-only) {
    width: 33px;
    left: 20px;
  }

  // @media (max-width: $tablet-width-only) {
  //   right: -270px;
  //   top: 45px;
  //   width: 400px;
  //   height: 400px;
  // }
}

.promo__link {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $basic-white;
  text-decoration: none;
  width: 407px;
  padding: 16px;
  box-sizing: border-box;
  border: 1px solid $basic-blue;
  background-color: $basic-blue;
  border-radius: 5px;
  display: block;
  margin-left: 94px;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }

  @media (max-width: $mobile-width-only) {
    width: 93vw;
    margin: 0;
  }
}

.promo__link-mobile {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.promo__link-desktop {
  display: block;

  @media (max-width: $tablet-width) {
    display: none;
  }
}
