.sections {
  max-width: max-content;

  @media (max-width: 1485px) {
    min-width: max-content;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    width: max-content;
    display: block;
    padding-top: 40px;
    max-width: 100%;
  }

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $border-color;
    padding-top: 30px;
    padding-bottom: 14px;
    max-width: 100%;
  }
}

.sections__list {
  display: grid;
  grid-template-columns: 1fr max-content;
  padding: 0;
  list-style: none;
  max-width: 500px;
  padding-bottom: 45px;
  margin-top: 23px;
  column-gap: 76px;

  @media (max-width: 1919px) {
    column-gap: 15px;
  }

  // @media (max-width: 1485px) {
  //   max-height: none;
  // }

  @media (max-width: 1055px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: max-content;
    margin-bottom: 0;
    padding-bottom: 40px;
  }
}

.sections__item--last {
  @media (max-width: 1055px) {
    order: 7;
  }
}

.sections__link {
  text-decoration: none;

  &:hover {
    color: $basic-blue;
  }
}
