.social {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  column-gap: 11px;
  padding: 0;
  padding-top: 47px;
  margin-top: 0;

  @media (max-width: $tablet-width-only) {
    padding: 0;
    column-gap: 6px;
    justify-content: flex-end;
  }
}

.social__link {
  width: 33px;
  height: 33px;
  display: block;
  position: relative;

  &:hover::before {
    background-color: $basic-blue;
    // width: 24px;
    // height: 27px;
  }
}

.social__link::before {
  content: "";
  width: 30.5px;
  height: 33px;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  background-color: $footer-icons-color;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;

  @media (max-width: $tablet-width-only) {
    // width: 30.5px;
    // height: 33px;
  }
}

.social__link--fb {
  mask-image: url("../img/stack.svg#fb-icon");
}

.social__link--ok {
  mask-image: url("../img/stack.svg#ok-icon");
}

.social__link--vk {
  mask-image: url("../img/stack.svg#vk-icon");
}
