.social {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  column-gap: 16px;
  padding: 0;
  padding-top: 54px;
}

.social__info {
  position: absolute;
  bottom: 0;
  left: 25%;
}

.social__link {
  width: 27px;
  height: 27px;
  display: block;
  position: relative;

  &:hover::before {
    background-color: $basic-blue;
  }
}

.social__link::before {
  content: "";
  width: 24px;
  height: 27px;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  background-color: $footer-icons-color;
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
}

.social__link--fb {
  mask-image: url("../img/stack.svg#fb-icon");
}

.social__link--ok {
  mask-image: url("../img/stack.svg#ok-icon");
}

.social__link--vk {
  mask-image: url("../img/stack.svg#vk-icon");
}
