$basic-black: #000000;
$basic-white: #ffffff;
$promo-bg-color: #1b2d37;
$basic-blue: #00b2ff;
$subtitle-color: #788891;
$svg-elements-color: #ebebeb;
$text-color: #666666;
$footer-icons-color: #cdcdcd;
$logo-text: #203c42;
$header-svg-bg: #c4c4c4;
$border-color: rgba(98, 105, 98, 0.2);
